<div class="window">
  <div class="shadow-lg bg-white rounded form">
      <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-text header">
          ChatApp
        </span>
      </nav>
      <div #chatWindowRef id="chatWindowRef" class="chatsWindow">
        <div *ngFor="let message of messageList; index as i">
          <div class="bubbleContainer mt-2">
            <p *ngIf="!message.flag" class="fr-name ms-2">{{message.name}}</p>
            <div [ngClass]="{'fr-chat fr-last':isFriendMessage(message),'my-chat my-last':!isFriendMessage(message), 'chat':true}">
              {{message.message}}
            </div>
          </div>
        </div>
        <br>
        <div *ngFor="let user of typingList; index as i">
        <div class="bubbleContainer">
        <p class="fr-name ms-3 ">{{user.name}}</p>
        <div class="typing-indicator">
          <span class="span"></span>
          <span class="span"></span>
          <span class="span"></span>
        </div>
        </div>
        </div>
        <div *ngIf = "limitReached" class="d-flex justify-content-center">
         <div>
          <p>{{closingText}}</p>
          <a (click) = "goToLink()">{{url}}</a>
         </div>
        </div>
      </div>
      <div class="input">
        <div class="input-field-container">
          <input type="text" class="namefield" [(ngModel)]="myName" name="name" placeholder="Enter your Name">
        </div>
        <div class="input-field-container">
          <input type="text" (keydown)="clearTimer()" (keyup)="startTimer()" (input)="onInput()" class="messagefield" [(ngModel)]="myMessage" name="message"
            placeholder="Enter your message">
        </div>
        <div class="button">
          <button class="btn btn-primary btn-lg button" (click)="send()">Send</button>
        </div>
      </div>
  </div>
</div>